main{background-color: #364181;}
label{color: rgb(227, 212, 247);}
input{background-color: rgb(204, 182, 233);}
h1{color:  #364181;}
button{background-color: rgb(204, 182, 233);}
::placeholder{color: black;}